{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/marser.css">
{% endblock %}
{% block marser_block %}
    {% if errors %}
        <ul class="alert alert-danger error">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% elseif errors is empty and data is null %}
        <p class="alert alert-success validated">
            {{ success }}
        </p>
    {% endif %}
    <div class="my-4">
        <div class="raw d-flex">
            <div class="col-12 justify-content-center">
                <div class="formmarser">
                    <form action="" method="POST">
                        <label for="message" class="form-label"></label>
                        <textarea class="form-control" id="message" name="message" placeholder="Quoi de neuf sur Mars ?" rows="3">{{ data.message }}</textarea>
                        <div class="d-flex justify-content-center mb-1">
                        <button class="button">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
